/**** gloabl rules ****/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* utilities */

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.btn {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  background-color: #0061FF;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .2);
}

/***************** HEADER ******************+*/
header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top:0;
  left:0;
  padding: 0 20px;
  background-color: white;
}

.header-left {
  float: left;
  width: 50%;
  /*background-color: lightgreen;*/
}

.header-right  {
  float: right;
  width: 50%;
  /*background-color: yellow;*/
}


/*header-left, logo*/
.db-logo, .main-nav {
  float: left;
  vertical-align: middle;
}

.header-left .db-logo {
  margin-right: 30px;
}

/*header-left, menu*/
.main-nav ul {
  list-style: none;
}

.main-nav.left ul li {
  display: inline-block;
  padding-left: 20px;
}

.main-nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
}

.main-nav ul li a:hover {
  margin-bottom: 1px solid #000;
}

/*header-right, menu*/
.main-nav.right, #inizia {
  float: right;
}

.main-nav.right ul li {
  display: inline-block;
  padding-right: 20px;
}

#accedi {
  /*se metto un margin left 30px l'header si spacca*/
}


/* jumbotron */
.jumbotron {
  min-height: 500px;
  margin-top: 80px;
  background-color: #B4CFE7;
}

.jumbotron .content {
  padding-top: 60px;
  margin-left: 20px;
}

.jumbotron .content h1 {
  font-size: 100px;
  font-weight: 800;
}
