/**** gloabl rules ****/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* utilities */

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.row {

}

.btn {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  background-color: #0061FF;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .2);
}

/***************** HEADER ******************+*/
header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top:0;
  left:0;
  padding: 0 20px;
  background-color: white;
}

.header-left {
  float: left;
  width: 50%;
}

.header-right  {
  float: right;
  width: 50%;
}


/*header-left*/
.header-left .db-logo {
  float: left;
  vertical-align: middle;
  margin-right: 30px;
}

.main-nav ul {
  list-style: none;
}

.main-nav ul li {
  display: inline-block;
  padding-left: 20px;
}

.main-nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}

.main-nav ul li a:hover {
  margin-bottom: 1px solid #000;
}

/*header-right */
.main-nav.right, #inizia {
  float: right;
  margin-left: 30px;
}

/* jumbotron */
.jumbotron {
  margin-top: 80px;
  background-color: #B4CFE7;
}

.content {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  background-color: salmon;
  min-height: 300px;
}

.jumbotron h1 {
  font-size: 100px;
  font-weight: 900;
  padding-top: 60px;
  background-color: rgb(109, 90, 90);
}

.textarea, .image {
  float: left;
}

.jumbotron .textarea {
  width: 40%;
  background-color: rgb(235, 241, 180);
}

.jumbotron .image {
  width: 60%;
  background-color: rgb(153, 223, 228);
}

/*first section */
section {
  min-height: 500px;
  background-color: rgb(240, 210, 171);
  margin-bottom: 30px; /*tutto da togliere!!!!*/
}

.column {
  float: left;
  width: calc(100% / 3 - 4px);
  min-height: 100px;   /*DA TOGLIEREEEEEEEEEEEE*/
  margin-bottom: 10px;
  background-color: rgb(174, 226, 250);
}

.column.middle {
  margin: 0 5px;
}

.big.column {
  width: 100%;
}

/*second section*/
.image1, .text1 {
  float: left;
  width: 50%;
}

.image1 {
  background-color: lightgrey;
}

.text1 {
  background-color: lightgrey;
}

/*third section*/
.column-image {
  min-height: 200px;
  background-color: rgb(245, 197, 241);
}

/*fourth section - logo*/
.half-subtitles, .area {
  width: 50%;
  min-height: 50px;     /*DA TOGLIEREEEEEEE*/
  float: left;
  background-color: rgb(177, 245, 180);
}


/*fifth section - FAQ*/
.faq-row {
  position: relative;
  min-height: 100px;
  background-color: rgb(73, 128, 160);
}

.question {
  position: absolute;
  left: 0;
}

.item {
  position: absolute;
  right: 0;
}

/*********** FOOTER *********/
.footer-column {
  float: left;
  width: 20%;
  min-height: 100px;
  background-color: rgb(238, 172, 74);
}

